.about-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10%;
    padding-top: 5%;
    font-size: 18px;
    background-color: #D8E9A8;
    
}

.about-ul li{
    list-style: none;
}

.about-ul p{
    padding-left: 1rem;
}