.cardInfo{
    display: flex;
    background-color: #D8E9A8;
}

.imgCardInfo{
    padding: 1rem;
    margin: 3rem;
    background-color: #4E9F3D;
    border-radius: 5px;
    
}

.infoContainer{
    font-size: 14px;
    margin: 0%;
    margin-right: 5%;
    margin-top: 2.5rem;
    text-align: justify;
}

.textcontainer{
    margin: 1rem;
    align-items: baseline;
    
}
.textcontainer p{
   margin: 0%;
   font-size: 18px;
  
}
.textcontainer h2{
    
 }