.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    padding-bottom: 10%;
   
    background-color: #D8E9A8;
    
}
.Typography-title{
    color: #191A19;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.CardContent-Boidae{
    text-decoration: none;
    background-color: rgb(160, 154, 68);
}
.cardLink-Boidae{
    text-decoration: none;
}

/* Styles */
.CardContent-Colubridae{
    background-color: rgb(102, 136, 89);
}
.cardLink-Colubridae{
    text-decoration: none;
}

/* Styles */
.CardContent-Elapidae{
    background-color: rgb(21, 133, 153);
}
.cardLink-Elapidae{
    text-decoration: none;
}

/* Styles */
.CardContent-Leptotyphlopidae{
    background-color: rgb(120, 100, 223);
}
.cardLink-Leptotyphlopidae{
    text-decoration: none;
}

/* Styles */
.CardContent-Loxocemidae{
    background-color: rgb(188, 97, 221);
}
.cardLink-Loxocemidae{
    text-decoration: none;
}

/* Styles */
.CardContent-Viperidae{
    background-color: rgb(228, 75, 75);
}
.cardLink-Viperidae{
    text-decoration: none;
}




.Card{
    margin: 1rem;
}