.cueg-section{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 10%;
    padding-top: 5%;
    font-size: 18px;
    background-color: #D8E9A8;
    
}
.cueg-title{
    margin-top: 5%;
    text-align: center;
    font-style: italic;
}

.cueg-ul li{
    display: flex;
    align-items: center;
}

.cueg-ul p{
    padding-left: 1rem;
}

.cueg-veneno{
    margin-left: 2rem;
    list-style-type: disc;
    color: #333;
}
