.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191A19;
    background-image: url("../img/Serpiente01.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 1rem;
   
}

.container-items{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

.container-items li{
    text-decoration: none;
}
.container-items a{
    text-decoration: none;
    margin: 1rem;
    color: aliceblue;
}



.Image{
    display: block;
    width: 100%;
    
}