.Header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191A19;
    background-image: url("../img/Serpiente01.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding-top: 8rem;
    padding-bottom: 1rem;
   
}

.container-items{
    display: flex;
    justify-content: center;
    list-style: none;
    
}

/* Estilo base para los enlaces */
.LinkLi {
    text-decoration: none;
    margin: 1rem;
    font-size: 22px;
    font-weight: bold;
    color: aliceblue;
    position: relative;
}

.LinkLi:hover {
    color: #D8E9A8;
}

/* Pseudo-elemento ::before para crear el subrayado */
.LinkLi::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px; /* Coloca el subrayado justo debajo del texto */
    left: 50%; /* Coloca el subrayado en el centro */
    background-color: aliceblue;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    
}

/* Animación de subrayado al pasar el mouse */
.LinkLi:hover::before {
    width: 100%; /* Expande el subrayado al 100% del ancho del enlace */
    left: 0; /* Coloca el subrayado en la posición inicial */
    background-color: #D8E9A8;
    
    
}


.Image{
    display: block;
    width: 100%;
    
}