.video-container {
    position: relative;
    width: 100%; /* Ancho del contenedor al 100% del padre */
    height: 0;
    padding-bottom: 45%; /* 50% de la altura de la pantalla */
    display: flex;
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Ancho del iframe al 100% del contenedor */
    height: 100%;
  }